{{#if song}}
  <img class="song__artwork" src="{{song.artwork}}">
  <div class="now-playing__body">
    <p class="now-playing__details">
      <span class="song__name">{{song.name}}</span> -
      <span class="song__artist">{{song.artist}}</span>
    </p>
    <div class="now-playing__player">
      {{audio-control isPlaying=player.isPlaying play='play' pause='pause'}}
      <p class="song__duration" {{action 'toggleDuration'}}>
        {{#if isDurationRemaining}}
          {{format-duration remainingTime}}
        {{else}}
          {{format-duration player.currentTime}}
        {{/if}}
      </p>
    </div>
  </div>
{{else}}
  <span class="now-playing__empty">Select a song to start playing.</span>
{{/if}}

