<div class="album">
  <div class="album__info">
    <img class="album__artwork" src="{{model.artwork}}">
    <h1 class="album__name">{{model.name}}</h1>
    <h2 class="album__artist">{{model.artist}}</h2>
  </div>

  <table class="song-row__list">
    <tbody>
      {{#each model.songs as |song|}}
        {{song-row song=song}}
      {{/each}}
    </tbody>
    <tfoot>
      <tr>
        <td class="album__duration" colspan="3">Total Time: {{format-duration model.totalDuration}}</td>
      </tr>
    </tfoot>
  </table>
</div>
